{
  "extends": [
    "stylelint-config-recommended", 
    "stylelint-config-sass-guidelines"
  ],
  "rules": {
    "function-parentheses-space-inside": null,
    "no-descending-specificity": null,
    "max-nesting-depth": 2,
    "selector-max-id": 1,
    "selector-no-qualifying-type": null,
    "selector-max-compound-selectors": null,
    "selector-class-pattern": null
  }
}
