/**
 * Variable
 */
:root {
    --app-color-accent: #f4a261;
    --app-color-accent-dark: #e76f51;
    --app-color-accent-light: #e9c46a;
    --app-color-accent-text: #000;
    --app-color-border: #000;
    --app-color-error: #d23632;
    --app-color-error-text: #fff;
    --app-color-primary: #264653;
    --app-color-primary-dark: #000;
    --app-color-primary-light: #2a9d8f;
    --app-color-primary-text: #fff;
}

/**
 * Layout
 */
body {
    max-width: 66rem;
    margin: 3rem auto;
    padding: 0.75rem;
}

#header {
    position: absolute;
    top: 0;
}

#footer {
    position: fixed;
    bottom: 0;
}

#header,
#footer {
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
}

:is(#header, #footer) > * {
    display: block;
    width: 100%;
    padding: 0.75rem 0.375rem;
    border: 0;
}

/**
 * Font
 */
#header label:first-child {
    font-variation-settings: 'wght' 700;;
}

/**
 * Color
 */
body {
    color: var(--app-color-primary);
    background: var(--app-color-primary-text);
}


#header,
#header select {
    color: var(--app-color-primary-text);
    background: var(--app-color-primary-dark);
}

#header .right {
    text-align: right;
}

#clear {
    color: var(--app-color-primary-text);
    background: var(--app-color-primary-light);
    cursor: pointer;
}

#save {
    color: var(--app-color-error-text);
    background: var(--app-color-error);
    cursor: pointer;
}

/**
 * Form
 */
#header :is(option, select) {
    height: 1.5rem;
    line-height: 1.5rem;
    vertical-align: middle;
    cursor: pointer;
}
