/**
 * Variable
 */
:root {
  --editor-block-background: #191919;
  --editor-block-color: #fff;
  --editor-border-color: #19191933;
  --editor-button-color: #fff;
  --editor-button-width: 24px;
  --editor-button-height: 24px;
  --editor-button-hover-background: #F4F5F5;
  --editor-trigger-width: 12px;
  --editor-trigger-height: 20px;
  --editor-dialog-backdrop: #000000a3;
  --editor-dialog-background: #fff;
  --editor-dialog-color: #191919;
  --editor-error: #dd0400;
  --editor-focus: #1672f3;
  --editor-hover: #1672f3;
  --editor-placeholder: #19191933;
  --editor-slot: #1672f3;
  --editor-sortover: #1672f3;
  --editor-submit-background: #1672f3;
  --editor-cancel-background: #191919;
  --editor-toolbar-background: #fff;
  --editor-toolbar-color: #191919;
  --editor-text-block: "Block: " attr(id);
  --editor-text-editable: "Input some text!";
  --editor-textarea: "Input some widgets!";
  --editor-text-slot: "Focus this slot and insert some widgets!";
}

/**
 * Placeholder
 */
lyove-editor[lang="zh-cn"] {
  --editor-text-editable: "Input some Text!";
  --editor-textarea: "Insert some Widgets!";
  --editor-text-slot: "Focus this slot and insert widgets!";
}

/**
 * Editor
 */
lyove-editor {
  position: relative;
  display: block;
  border: 1px solid var(--editor-border-color);
  border-radius: 6px;
}

lyove-editor [disabled] {
  opacity: 0.5;
}

/**
 * Toolbar
 */
lyove-editor [role="toolbar"] {
  box-sizing: border-box;
}

lyove-editor editor-menubar,
lyove-editor editor-toolbar {
  display: block;
  position: relative;
  color: var(--editor-toolbar-color);
  border-bottom: 1px solid var(--editor-border-color);
  /* background: var(--editor-toolbar-background); */
  padding: 4px;
}

lyove-editor editor-formatbar,
lyove-editor editor-focusbar {
  position: absolute;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  color: var(--editor-toolbar-color);
  z-index: 100;
}

lyove-editor editor-formatbar {
  border: 1px solid var(--editor-border-color);
  background: var(--editor-toolbar-background);
  padding: 4px;
}

lyove-editor editor-formatbar:empty,
lyove-editor editor-focusbar:empty {
  display: none;
}

lyove-editor editor-menubar button[data-command],
lyove-editor editor-toolbar button[data-command],
lyove-editor editor-formatbar button[data-command],
lyove-editor editor-focusbar button[data-command],
lyove-editor editor-dropdown button[data-command] {
  display: inline-flex;
  align-items: center;
  padding: 4px 6px;
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  outline: 0 none;
  cursor: pointer;
}

lyove-editor editor-focusbar[data-alignable] button[data-command^="align-"],
lyove-editor editor-focusbar[data-deletable] button[data-command="delete"],
lyove-editor editor-focusbar[data-sortable] button[data-command^="sort-"] {
  display: inline-flex;
}

lyove-editor editor-menubar button[data-command]:hover,
lyove-editor editor-toolbar button[data-command]:hover,
lyove-editor editor-formatbar button[data-command]:hover,
lyove-editor editor-hoverbar button[data-command]:hover,
lyove-editor editor-dropdown button[data-command]:hover {
  background-color: var(--editor-button-hover-background);
  border-radius: 4px;
}

lyove-editor editor-menubar button[data-command]:focus,
lyove-editor editor-toolbar button[data-command]:focus,
lyove-editor editor-formatbar button[data-command]:focus,
lyove-editor editor-focusbar button[data-command]:focus,
lyove-editor editor-dropdown button[data-command]:focus {
  color: var(--editor-focus);
}

lyove-editor editor-menubar button[data-command] .btn-icon,
lyove-editor editor-toolbar button[data-command] .btn-icon,
lyove-editor editor-formatbar button[data-command] .btn-icon,
lyove-editor editor-focusbar button[data-command] .btn-icon,
lyove-editor editor-dropdown button[data-command] .btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--editor-button-width);
  height: var(--editor-button-height);
}

lyove-editor editor-menubar button[data-command] .separator,
lyove-editor editor-toolbar button[data-command] .separator,
lyove-editor editor-formatbar button[data-command] .separator,
lyove-editor editor-focusbar button[data-command] .separator,
lyove-editor editor-dropdown button[data-command] .separator {
  width: 1px;
  height: var(--editor-button-height);
  margin: 0 1px 0 2px;
  background: transparent;
}

lyove-editor editor-menubar button[data-command]:hover .separator,
lyove-editor editor-toolbar button[data-command]:hover .separator,
lyove-editor editor-formatbar button[data-command]:hover .separator,
lyove-editor editor-focusbar button[data-command]:hover .separator,
lyove-editor editor-dropdown button[data-command]:hover .separator,
lyove-editor editor-menubar button[data-command]:active .separator,
lyove-editor editor-toolbar button[data-command]:active .separator,
lyove-editor editor-formatbar button[data-command]:active .separator,
lyove-editor editor-focusbar button[data-command]:active .separator,
lyove-editor editor-dropdown button[data-command]:active .separator {
  background: #e8e8e8;
}

lyove-editor editor-menubar button[data-command] .btn-label,
lyove-editor editor-toolbar button[data-command] .btn-label,
lyove-editor editor-formatbar button[data-command] .btn-label,
lyove-editor editor-focusbar button[data-command] .btn-label,
lyove-editor editor-dropdown button[data-command] .btn-label {
  font-size: 0;
}

lyove-editor editor-menubar button[data-command] .btn-arrow,
lyove-editor editor-toolbar button[data-command] .btn-arrow,
lyove-editor editor-formatbar button[data-command] .btn-arrow,
lyove-editor editor-focusbar button[data-active] .btn-arrow,
lyove-editor editor-dropdown button[data-command] .btn-arrow {
  display: flex;
  align-items: center;
  margin-right: -2px;
}

lyove-editor editor-menubar button[data-command] .btn-arrow.up,
lyove-editor editor-toolbar button[data-command] .btn-arrow.up,
lyove-editor editor-formatbar button[data-command] .btn-arrow.up,
lyove-editor editor-focusbar button[data-active] .btn-arrow.up,
lyove-editor editor-dropdown button[data-command] .btn-arrow.up {
  animation: arrowFadeup 200ms ease-in-out;
  animation-fill-mode: forwards;
}

lyove-editor editor-menubar button[data-command] .btn-arrow.down,
lyove-editor editor-toolbar button[data-command] .btn-arrow.down,
lyove-editor editor-formatbar button[data-command] .btn-arrow.down,
lyove-editor editor-focusbar button[data-active] .btn-arrow.down,
lyove-editor editor-dropdown button[data-command] .btn-arrow.down {
  animation: arrowFadedown 200ms ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes arrowFadeup{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(180deg);
  }
}
@keyframes arrowFadedown{
  0%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

lyove-editor editor-menubar button[data-active],
lyove-editor editor-toolbar button[data-active],
lyove-editor editor-formatbar button[data-active]
lyove-editor editor-focusbar button[data-active],
lyove-editor editor-dropdown button[data-active] {
  color: var(--editor-focus);
}

lyove-editor editor-menubar button[data-active] .btn-icon > svg,
lyove-editor editor-toolbar button[data-active] .btn-icon > svg,
lyove-editor editor-formatbar button[data-active] .btn-icon > svg,
lyove-editor editor-focusbar button[data-active] .btn-icon > svg,
lyove-editor editor-dropdown button[data-active] .btn-icon > svg {
  fill: var(--editor-focus);
}

lyove-editor editor-menubar button[data-active] .btn-label,
lyove-editor editor-toolbar button[data-active] .btn-label,
lyove-editor editor-formatbar button[data-active] .btn-label,
lyove-editor editor-focusbar button[data-active] .btn-label,
lyove-editor editor-dropdown button[data-active] .btn-label {
  color: var(--editor-focus);
}

/* Focusbar */
lyove-editor editor-focusbar > .trigger {
  display: inline-flex;
  width: var(--editor-trigger-width);
  height: var(--editor-trigger-height);
  background: var(--editor-toolbar-background);
  border-radius: 2px;
  padding: 0 2px;
  text-align: center;
  cursor: pointer;
}

lyove-editor editor-focusbar > .trigger:hover {
  background-color: #eff2f5;
  border-radius: 4px;
  box-shadow: 0 3px 15px -3px rgb(13 20 33 / 13%);
}

lyove-editor editor-focusbar > .trigger-content {
  display: flex;
  align-items: center;
  margin-left: 2px;
  background: var(--editor-toolbar-background);
  border: 1px solid var(--editor-border-color);
  border-radius: 3px;
  box-shadow: 0 3px 15px -3px rgb(13 20 33 / 13%);
}

lyove-editor editor-focusbar > .trigger-content[hidden] {
  display: none;
}

lyove-editor editor-focusbar > .trigger button[data-command] {
  padding: 0;
}

lyove-editor editor-focusbar > .trigger button[data-command] .btn-icon {
  width: var(--editor-trigger-width);
  height: var(--editor-trigger-height);
}

lyove-editor editor-focusbar > .trigger-content button[data-command] {
  padding: 2px;
}

/**
 * Dialog
 */
lyove-editor editor-dialog {
  display: none;
}

lyove-editor editor-dialog[open] {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: var(--editor-dialog-backdrop);
}

lyove-editor editor-dialog form {
  min-width: 360px;
  padding: 0.75rem;
  color: var(--editor-dialog-color);
  border-radius: 6px;
  background: var(--editor-dialog-background);
}

lyove-editor editor-dialog :is(form, fieldset) > :not(:first-child) {
  margin-top: 1.5rem;
}

lyove-editor editor-dialog legend {
  font-size: 1.25rem;
}

lyove-editor editor-dialog label {
  display: block;
}

lyove-editor editor-dialog [data-required] label::after {
  content: " *";
  color: var(--editor-error);
}

lyove-editor editor-dialog button {
  padding: 0.375rem 0.75rem;
  color: var(--editor-button-color);
  background: var(--editor-cancel-background);
  border: none;
  outline: none;
}

lyove-editor editor-dialog button + button {
  margin-left: 1.5rem;
}

lyove-editor editor-dialog button[type="submit"] {
  color: var(--editor-button-color);
  background: var(--editor-submit-background);
}

lyove-editor editor-dialog button.cancel {
  color: var(--editor-button-color);
}

lyove-editor editor-dialog fieldset,
lyove-editor editor-dialog input {
  border: 0 none;
  outline: 0 none;
}

lyove-editor
  editor-dialog
  input:is([type="email"], [type="number"], [type="password"], [type="search"], [type="tel"], [type="text"], [type="url"]),
lyove-editor editor-dialog select {
  width: 100%;
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--editor-border-color);
}

lyove-editor
  editor-dialog
  input:is([type="email"], [type="number"], [type="password"], [type="search"], [type="tel"], [type="text"], [type="url"]):invalid,
lyove-editor editor-dialog select:invalid {
  border-color: var(--editor-error);
}

/**
 * Dropdown
 */
lyove-editor editor-dropdown {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  -webkit-box-shadow: 0 8px 16px 4px rgba(0,0,0,.04);
  box-shadow: 0 8px 16px 4px rgba(0,0,0,.04);
  z-index: 100;
}

lyove-editor editor-dropdown[open='false'] {
  visibility: hidden;
}

lyove-editor editor-dropdown.dropdown-animate-in {
  animation: 200ms cubic-bezier(0.33, 1, 0.68, 1) 0s 1 normal none running appear-in;
}

lyove-editor editor-dropdown.dropdown-animate-out {
  animation: 200ms cubic-bezier(0.33, 1, 0.68, 1) 0s 1 normal none running appear-out;
}

@keyframes appear-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

lyove-editor editor-dropdown .arrow {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 0;
  overflow: visible;
  z-index: -1;
}

lyove-editor editor-dropdown .arrow::before {
  content: "";
  position: absolute;
  top: -20px;
  left: calc(50% - 6.4px);
  margin: auto;
  z-index: 0;
  border: 1px solid #e5e5e5;
  width: 8px;
  height: 8px;
  background: #fff;
  transform: rotate(-45deg);
  border-left: transparent;
  border-bottom: transparent;
}

lyove-editor editor-dropdown .dropdown-content {
  margin-top: -1rem;
}

lyove-editor editor-dropdown ul.dropdown-menu {
  list-style: none;
  margin: 0;
  padding: 0.5rem 0;
}

lyove-editor editor-dropdown ul.dropdown-menu li {
  padding: 4px 12px;
}

lyove-editor editor-dropdown ul.dropdown-menu li:hover {
  color: #2d8cf0;
  background-color: #f3f3f3;
}

/* heading dropdown */
lyove-editor editor-dropdown.heading ul.dropdown-menu {
  min-width: 100px;
  text-align: center;
}

/* font size dropdown */
lyove-editor editor-dropdown.fontSize ul.dropdown-menu {
  min-width: 100px;
  text-align: center;
}

/* align dropdown */
lyove-editor editor-dropdown.align ul.dropdown-menu {
  text-align: center;
}

/* color picker */
lyove-editor editor-dropdown .dropdown-content .colorboard {
  padding: 0.5rem 0;
}

lyove-editor editor-dropdown .dropdown-content .colorboard-group {
  display: flex;
  padding: 0 8px;
  width: 100%;
  height: auto;
  position: relative;
}

lyove-editor editor-dropdown .dropdown-content .colorboard-group-item {
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  padding: 2px 2px;
  display: inline-block;
  border-radius: 3px 3px;
  border: 1px solid transparent;
  flex: 0 0 auto;
  cursor: pointer;
}

lyove-editor editor-dropdown .dropdown-content .colorboard-group-item:hover {
  border: 1px solid #d9d9d9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
}

lyove-editor editor-dropdown .dropdown-content .colorboard-group-item > span {
  position: relative;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  display: block;
  border-radius: 2px 2px;
  border: 1px solid transparent;
}

lyove-editor editor-dropdown .dropdown-content .colorboard-group-item.border > span {
  border: 1px solid #e7e9e8;
}

/**
 * Tooltip
 */
lyove-editor *[data-tip] {
  position: relative;
}
lyove-editor *[data-tip]::before,
lyove-editor *[data-tip]::after {
  position: absolute;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
  pointer-events: none;
  z-index: 200;
}
lyove-editor *[data-tip]:hover::before,
lyove-editor *[data-tip]:hover::after {
  opacity: 1;
}
lyove-editor *[data-tip]::before {
  content: "";
  background: transparent;
  border: 6px solid transparent;
}
lyove-editor *[data-tip]::after {
  content: attr(data-title);
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 8px 10px;
  font-size: 12px;
  border-radius: 4px;
  white-space: nowrap;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}
/* top */
lyove-editor *[data-tip-placement='top']:before {
  bottom: 100%;
  left: 30%;
  margin: 0 0 -18px 0;
  border-top-color: rgba(0, 0, 0, 0.8);
}
lyove-editor *[data-tip-placement='top']:after {
  bottom: 100%;
  left: 30%;
  margin: 0 0 -6px -10px;
}
lyove-editor *[data-tip-placement='top']:hover:before {
  margin-bottom: -10px;
}
lyove-editor *[data-tip-placement='top']:hover:after {
  margin-bottom: 2px;
}
/* bottom */
lyove-editor *[data-tip-placement='bottom']:before {
  top: 100%;
  left: 30%;
  margin: -14px 0 0 0;
  border-bottom-color: rgba(0, 0, 0, 0.8);
}
lyove-editor *[data-tip-placement='bottom']:after {
  top: 100%;
  left: 30%;
  margin: -2px 0 0 -10px;
}
lyove-editor *[data-tip-placement='bottom']:hover:before {
  margin-top: -6px;
}
lyove-editor *[data-tip-placement='bottom']:hover:after {
  margin-top: 6px;
}
/* right */
lyove-editor *[data-tip-placement='right']:before {
  left: 100%;
  bottom: 30%;
  margin: 0 0 -4px -8px;
  border-right-color: rgba(0, 0, 0, 0.8);
}
lyove-editor *[data-tip-placement='right']:after {
  left: 100%;
  bottom: 30%;
  margin: 0 0 -13px 4px;
}
lyove-editor *[data-tip-placement='right']:hover:before {
  margin: 0 0 -4px -0;
}
lyove-editor *[data-tip-placement='right']:hover:after {
  margin: 0 0 -13px 12px;
}
/* left */
lyove-editor *[data-tip-placement='left']:before {
  right: 100%;
  bottom: 30%;
  margin: 0 -8px -4px 0;
  border-left-color: rgba(0, 0, 0, 0.8);
}
lyove-editor *[data-tip-placement='left']:after {
  right: 100%;
  bottom: 30%;
  margin: 0 4px -13px 0;
}
lyove-editor *[data-tip-placement='left']:hover:before {
  margin: 0 0 -4px 0;
}
lyove-editor *[data-tip-placement='left']:hover:after {
  margin: 0 12px -13px 0;
}

/**
 * Editor textarea
 * ==============
 */
lyove-editor editor-textarea {
  display: block;
  position: relative;
  padding: 1.0rem 1.5rem;
}

lyove-editor editor-textarea::before {
  display: table;
  content: " ";
}

lyove-editor editor-textarea::after {
  display: table;
  content: " ";
  clear: both;
}

lyove-editor editor-textarea:empty::after {
  color: var(--editor-placeholder);
  content: var(--editor-textarea);
}

lyove-editor editor-textarea :hover,
lyove-editor editor-textarea :focus {
  outline: none;
}

/**
 * Editable
 */
lyove-editor editor-textarea [contenteditable] {
  cursor: auto;
}

lyove-editor editor-textarea [contenteditable="true"]:hover {
  outline: none;
  background-color: #f9f9f9;
}

lyove-editor editor-textarea [contenteditable="true"]:empty::after {
  color: var(--editor-placeholder);
  /* content: var(--editor-text-editable); */
}

/**
 * Slot
 */
lyove-editor editor-textarea slot[contenteditable] {
  display: block;
  padding: 0.25rem;
  outline: none;
}

lyove-editor editor-textarea slot[contenteditable="true"]:empty::after {
  color: var(--editor-slot);
  content: var(--editor-text-slot);
}

lyove-editor editor-textarea [contenteditable="true"] :hover {
  cursor: auto;
}

/**
 * Sortable
 */
lyove-editor editor-textarea [data-sortable][data-sort]:hover {
  cursor: grab;
}

lyove-editor editor-textarea :is([data-sortover], [contenteditable][data-sortover]) {
  outline: 1px dashed var(--editor-sortover);
  /* cursor: move; */
}

/**
 * A
 */
lyove-editor editor-textarea a {
  border-bottom: 1px var(--editor-focus) dotted;
}

/**
 * P
 */
lyove-editor editor-textarea p {
  line-height: 1.5;
  margin: 0.5rem 0;
}

/**
 * Media
 */
lyove-editor editor-textarea :is(audio, iframe, img, video) {
  pointer-events: none;
}

/**
 * Figure
 */
lyove-editor editor-textarea figure {
  margin: 0;
}

lyove-editor editor-textarea figure.left {
  max-width: 50%;
  float: left;
  margin-right: 0.75rem;
}

lyove-editor editor-textarea figure.center {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

lyove-editor editor-textarea figure.right {
  max-width: 50%;
  float: right;
  margin-left: 0.75rem;
}

/**
 * Table
 */
lyove-editor editor-textarea table,
lyove-editor editor-textarea table[data-command="table"] {
  width: 100%;
  empty-cells: show;
  border-collapse: collapse;
  border-spacing: 0;
}

lyove-editor editor-textarea table :is(th, td)[contenteditable] {
  line-height: 1.5rem;
  padding: 4px 6px;
}

lyove-editor editor-textarea table :is(thead, tbody) tr:last-child :is(td, th) {
  border-bottom-style: solid;
}

lyove-editor editor-textarea tbody tr {
  border-left: dotted 1px var(--editor-toolbar-color);
  border-top: dotted 1px var(--editor-toolbar-color);
}

lyove-editor editor-textarea thead th,
lyove-editor editor-textarea tbody td {
  white-space: nowrap;
  border-bottom: dotted 1px var(--editor-toolbar-color);
}

lyove-editor editor-textarea tbody td {
  border-right: dotted 1px var(--editor-toolbar-color);
}

lyove-editor editor-textarea tfoot {
  display: none;
}

/**
 * Form
 */
lyove-editor editor-textarea select[multiple],
lyove-editor editor-textarea textarea {
  resize: both;
}

/**
 * Imgage
 */
lyove-editor editor-textarea img {
  -webkit-user-select: none;
  user-select: none;
}

/**
 * Blockquote
 */
lyove-editor editor-textarea blockquote,
lyove-editor editor-textarea blockquote[data-command="blockquote"] {
  position: relative;
  margin: 0;
  padding-left: 0.75rem;
}
lyove-editor editor-textarea blockquote::before,
lyove-editor editor-textarea blockquote[data-command="blockquote"]::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0px;
  bottom: 0;
  width: 2px;
  border-radius: 2px;
  background-color: #d8dad9;
}

/**
 * Preformat
 */
lyove-editor editor-textarea pre,
lyove-editor editor-textarea pre[data-command="preformat"] {
  margin: 0;
  padding: 0.75rem;
}

lyove-editor editor-textarea pre figcaption {
  display: none;
}

/**
 * Details
 */
lyove-editor editor-textarea details {
  padding: 0.6875rem 0.3125rem;
}

lyove-editor editor-textarea details[open] summary {
  padding-bottom: 0.6875rem;
}

/**
 * summary
 */
lyove-editor editor-textarea summary {
  white-space: pre-wrap;
}

/**
 * app block
 */
lyove-editor editor-textarea app-block {
  display: block;
  padding: 0.25rem;
  border: 1px solid var(--editor-block-background);
}

lyove-editor editor-textarea app-block::before {
  display: block;
  margin: -0.25rem -0.25rem 0.5rem;
  padding: 0.125rem 0.25rem;
  color: var(--editor-block-color);
  background: var(--editor-block-background);
  content: var(--editor-text-block);
}

/**
 * Style common
 * ==========================================================
 */
/**
 * Display
 */
lyove-editor a[role="button"],
lyove-editor audio,
lyove-editor canvas,
lyove-editor embed,
lyove-editor iframe,
lyove-editor img,
lyove-editor object,
lyove-editor picture,
lyove-editor video {
  display: inline-block;
  max-width: 100%;
}
lyove-editor [hidden] {
  display: none;
}

/**
 * Box shadow
 */
lyove-editor :invalid {
  box-shadow: none;
}

/**
 * Vertical align
 */
lyove-editor a[role="button"],
lyove-editor audio,
lyove-editor canvas,
lyove-editor embed,
lyove-editor iframe,
lyove-editor img,
lyove-editor object,
lyove-editor picture,
lyove-editor video,
lyove-editor thead :is(td, th),
lyove-editor button,
lyove-editor input,
lyove-editor label,
lyove-editor select,
lyove-editor textarea {
  vertical-align: middle;
}

lyove-editor sub {
  vertical-align: sub;
}

lyove-editor sup {
  vertical-align: super;
}

lyove-editor fieldset,
lyove-editor input {
  border: 0 none;
  outline: 0 none;
}

lyove-editor td,
lyove-editor th {
  vertical-align: top;
}

/**
 * Font
 */
lyove-editor th,
lyove-editor thead td {
  font-weight: bold;
}

/**
 * Cursor
 */
lyove-editor a,
lyove-editor button,
lyove-editor
  input:is([type="button"], [type="reset"], [type="submit"], [type="checkbox"], [type="radio"]),
lyove-editor label,
lyove-editor select,
lyove-editor summary {
  cursor: pointer;
}

lyove-editor [draggable="true"] {
  cursor: move;
}

/**
 * Nav Ul
 */
lyove-editor nav ul {
  list-style: none;
}

/**
 * Text
 */
lyove-editor pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

lyove-editor q {
  quotes: "“" "”" "‘" "’";
}

lyove-editor a {
  text-decoration: none;
}

lyove-editor :is(details, section)::before {
  display: table;
  content: " ";
}

lyove-editor :is(details, section)::after {
  display: table;
  clear: both;
  content: " ";
}

lyove-editor hr {
  clear: both;
}
